Desktop
Documents
Downloads
Music
Pictures
Public
Templates
Videos
vimwiki
larbs.sh
.ssh
.adobe
.cache
.gem
.gimp-2.8
.gnupg
.gphoto
.macromedia
.moonchild productions
.mozilla
.password-store
.pki
.w3m
.bash_history

.Xauthority
.Xclients
.Xresources
.bash_logout
.calcurse/
.config/GIMP/
.config/Kvantum/
.config/QtProject.conf
.config/Syncplay/
.config/autostart/
.config/clipit/
.config/compton.conf
.config/dconf/
.config/discord/
.config/dmenu-recent/
.config/epdfview/
.config/falkon/
.config/gconf/
.config/google-chrome/
.config/hexchat/
.config/htop/
.config/libfm/
.config/libreoffice/
.config/manjaro-hello.json
.config/morc_menu/
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/msmtp/
.config/mutt/
.config/ncmpcpp/error.log
.config/nitrogen/
.config/notmuch-config
.config/nvim/autoload/
.config/nvim/plugged/
.config/pcmanfm/
.config/pulse/
.config/qt5ct/
.config/ranger/

.config/skypeforlinux/
.config/syncplay.ini
.config/systemd/
.config/transmission-daemon/
.config/transmission/
.config/trizen/
.config/user-dirs.locale
.config/vifm/scripts/
.config/vifm/vifm-help.txt
.config/vifm/vifminfo
.config/vifm/vifmshortcuts
.config/vlc/
.config/volumeicon/
.config/xarchiver/
.config/youtube-viewer/
.dir_colors
.dmenurc
.dmrc
.dropbox-dist/
.dropbox/
.esd_auth
.fonts/.uuid
.gitconfig
.java/
.joinnow/
.lesshst
.links/

.local/share
.skeletons
.mbsyncrc
.minecraft/

.moc/
.nv/
.skeletons/
.task/
.taskrc
.technic/
.urlview
.viminfo
.viminfo.tmp
.viminfx.tmp
.viminfy.tmp
.viminfz.tmp
.wine/
.xsession-errors
.xsession-errors.old
.yadm/
Admin.pdf
Books/
Dropbox/
GPUCache/
Mich/
shared/

