[submodule ".dotfiles/polybar/.config/polybar/polybar-themes"]
	path = .dotfiles/polybar/.config/polybar/polybar-themes
	url = https://github.com/adi1090x/polybar-themes
[submodule ".dotfiles/texinput/.texinput/wen-preamble"]
	path = .dotfiles/texinput/.texinput/wen-preamble
	url = git@gitlab.com:weznon/preamble.git
