[Desktop Entry]
Type=Application
Name=Wine Internet Explorer
MimeType=image/jpeg;
Exec=env WINEPREFIX="/home/faye/.local/share/wineprefixes/osu" wine start /ProgIDOpen pjpegfile %f
NoDisplay=true
StartupNotify=true
Icon=FB4C_iexplore.0
