[Desktop Entry]
Type=Application
Name=hh
MimeType=application/vnd.ms-htmlhelp;
Exec=env WINEPREFIX="/home/faye/.local/share/wineprefixes/osu" wine start /ProgIDOpen chm.file %f
NoDisplay=true
StartupNotify=true
Icon=A35F_hh.0
